<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url("/public/images/Backdoor.jpg");
            /* Replace 'background.jpg' with your image file name and path */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* This keeps the background image fixed while scrolling */
            color: white;
            /* Set text color to contrast with the background */
            font-family: Arial, sans-serif;
            /* Set the font family for the text */
        }
    </style>
    <link rel="stylesheet" href="/public/css/book.css">
</head>

<body>


    <h1>Confirm your booking</h1>
    <form class="form-style-9 bigger-form" action="/apply_book" method="get">
        <ul>
            <li>
                <input type="text" name="first_name" class="field-style field-split align-left" placeholder="First Name" required />
                <input type="text" name="last_name" class="field-style field-split align-right" placeholder="Last Name" required />
            </li>
            <li>
                <input type="text" name="passport_no" class="field-style field-split align-left" placeholder="Passport" required />
                <input type="text" name="nid_no" class="field-style field-split align-right" placeholder="NID" required />
            </li>
            <li>
                <input type="text" name="occupation" class="field-style field-split align-left" placeholder="Occupation" required />
                <input type="number" id="age" name="age" class="field-style field-split align-right" placeholder="Enter your age" required />
            </li>
            <li>
                <input type="email" name="email" class="field-style field-split align-left" placeholder="Email" required />
                <input type="text" name="contact_no" class="field-style field-split align-right" placeholder="Mobile" required />
            </li>
            <li>
                <select id="room" name="type_name" class="field-style field-split align-left" required>
                    <option value="" disabled selected>Select a room</option>
                    <option value="boutique-room">Boutique Room</option>
                    <option value="executive-double">Executive Double</option>
                    <option value="executive-twin">Executive Twin</option>
                    <option value="premier-twin">Premier Twin</option>
                    <option value="grand-suite">Grand Suite</option>
                    <option value="family-suite">Family Suite</option>
                </select>
            </li>
            <li>
                <!-- <a href="/apply_book" class="btn">Apply for booking</a> -->
                <input type="submit" value="Apply for booking" />
            </li>
        </ul>
    </form>
    
    <h2>Room Availability</h2>
    <ul>
        <h2>
        <li>
            <strong>Boutique Room:</strong> <span id="boutique-room-availability"><%= available[0] %></span>
        </li>
        <li>
            <strong>Executive Double:</strong> <span id="executive-double-availability"><%= available[1] %></span>
        </li>
        <li>
            <strong>Executive Twin:</strong> <span id="executive-twin-availability"><%= available[2] %></span>
        </li>
        <li>
            <strong>Premier Twin:</strong> <span id="premier-twin-availability"><%= available[3] %></span>
        </li>
        <li>
            <strong>Grand Suite:</strong> <span id="grand-suite-availability"><%= available[4] %></span>
        </li>
        <li>
            <strong>Family Suite:</strong> <span id="family-suite-availability"><%= available[5] %></span>
        </li>
    </h2>
    </ul>
    
   
</body>

</html>